{% extends 'layout/master.twig' %}

{% block title %} About {% endblock title %}

{% block head %}
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
{% endblock head %}

{% block header %} Antony Kalogeropoulos {% endblock header %}

{% block content %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/img/headshot3.jpg" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black"></div>
                </div>
                <div class="w3-container">
                    <p class="w3-large"><b><i class="fa fa-info fa-fw w3-margin-right w3-text-teal"></i>Quick Info</b></p>
                    <hr>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer / Startup Believer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>New York, USA / Athens, GR </p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>antony@codeburrow.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+30 694 94 64 934</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills / Interests</b></p>
                    <p>Teamwork</p>
                    <div class="w3-progress-container w3-round-medium w3-small">
                        <div id="team" class="w3-progressbar w3-round-medium w3-teal" style="width:100%">
                            <div id=teamp" class="w3-center w3-text-white">100%</div>
                        </div>
                    </div>
                    <p>PHP / MySQL</p>
                    <div class="w3-progress-container w3-round-medium w3-small">
                        <div id="php" class="w3-progressbar w3-round-medium w3-teal" style="width:90%">
                            <div id="phpp" class="w3-center w3-text-white">90%</div>
                        </div>
                    </div>
                    <p>Business Consulting</p>
                    <div class="w3-progress-container w3-round-medium w3-small">
                        <div id="bc" class="w3-progressbar w3-round-medium w3-teal" style="width:80%">
                            <div id="bcp" class="w3-center w3-text-white">80%</div>
                        </div>
                    </div>
                    <p>Project Management</p>
                    <div class="w3-progress-container w3-round-medium w3-small">
                        <div id="pm" class="w3-progressbar w3-round-medium w3-teal" style="width:60%">
                            <div id="pmp" class="w3-center w3-text-white">60%</div>
                        </div>
                    </div>
                    <p>Teaching / Mentoring</p>
                    <div class="w3-progress-container w3-round-medium w3-small">
                        <div id="teach" class="w3-progressbar w3-round-medium w3-teal" style="width:30%">
                            <div id="teachp" class="w3-center w3-text-white">30%</div>
                        </div>
                    </div>
                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                    <p>English</p>
                    <div class="w3-progress-container w3-round-xlarge">
                        <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:100%"></div>
                    </div>
                    <p>Greek</p>
                    <div class="w3-progress-container w3-round-xlarge">
                        <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:100%"></div>
                    </div>
                    <p>German</p>
                    <div class="w3-progress-container w3-round-xlarge">
                        <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:10%"></div>
                    </div>
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>What I'm Searching For</h2>
                <div class="w3-container w3-opacity-min">
                    <p>
                        Eventually, I want to run my own business.
                    </p>
                    <p>
                        Until then, <b>I'm open to job opportunities that promise to offer me significant experience.</b> I'm looking for a ambitious,enthusiastic environment with a strong focus on teamwork. That's why I lean more towards the Startup sector. Finally, I am willing and interested in relocating to many places across the world (alright, across Earth).
                    </p>
                    <p>
                        I am passionate about <b>Startups</b>, Online Education, and Programming. Do not hesitate to <a class="w3-hover-text-red" href="/contact">contact me</a> even to just say:
                    </p>
                    <blockquote class="w3-panel w3-leftbar w3-border-teal w3-light-grey w3-center" style="max-width: 40%; margin: 0 auto;">
                        <p class="w3-large">
                            <i>Hello.</i>
                        </p>
                    </blockquote>
                </div>
            </div>

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b>CEO - Web Developer / <a class="w3-hover-text-red" href="http://www.codeburrow.com">&nbsp;CodeBurrow&nbsp;</a></b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                    <p>Founded CodeBurrow. Here are my goals:</p>
                    <ul>
                        <li>Facilitate a co-learning environment</li>
                        <li>Collaborate with Startup companies and help them build their products</li>
                        <li>Enhance my project management skills</li>
                        <li>Connect with great people</li>
                    </ul>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Teaching Assistant / DEREE - The American College of Greece</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2016 - Jun 2016</h6>
                    <p>
                        Taught the lab section of the Internet Programming course and assisted in the theory section.
                    </p>
                    <ul>
                        <li>Taught 2 out of 5 hours per week</li>
                        <li>Prepared upcoming lectures (material, exercises, etc.)</li>
                        <li>Assisted students both in-class and during office hours</li>
                        <li>Managed online course management and learning system</li>
                    </ul>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Dance Teacher / Gene Kely Dance Studios</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2009 - Jul 2010</h6>
                    <p>Taught both professionals and amateurs how to master Latin dances. Also, participated in the sales process and event organization.</p><br>
                </div>
            </div>

            <div class="w3-container w3-card-2 w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Online Learning</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
                    <p>As an ardent advocate of Online Education, I consistenly subscribe to MOOCS and educational sites. My number one stop for programming is <a href="http://www.laracasts.com">Laracasts</a> and my number two stop <a href="http://www.udacity.com">Udacity</a>.</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>DEREE - The American College of Greece</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2016</h6>
                    <p>
                        BSc in Information Technology
                        <small> - 3.93/4.00</small>
                    </p>
                    <p>President of IT Society, Founder of HubIT Club.</p>
                    <br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

{% endblock content %}


{% block scripts %}

<script>
    $( document ).ready(function() {
        moveTeamwork();
        movePHP();
        moveBC();
        movePM();
        moveTeach();

        function moveTeamwork() {
            var elem = document.getElementById("team");
            var width = 20;
            var id = setInterval(frame, 10);

            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("teamp").innerHTML = width * 1 + '%';
                }
            }
        }
        function movePHP() {
            var elem = document.getElementById("php");
            var width = 20;
            var id = setInterval(frame, 10);

            function frame() {
                if (width >= 90) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("phpp").innerHTML = width * 1 + '%';
                }
            }
        }
        function moveBC() {
            var elem = document.getElementById("bc");
            var width = 20;
            var id = setInterval(frame, 10);

            function frame() {
                if (width >= 80) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("bcp").innerHTML = width * 1 + '%';
                }
            }
        }
        function movePM() {
            var elem = document.getElementById("pm");
            var width = 20;
            var id = setInterval(frame, 10);

            function frame() {
                if (width >= 60) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("pmp").innerHTML = width * 1 + '%';
                }
            }
        }
        function moveTeach() {
            var elem = document.getElementById("teach");
            var width = 20;
            var id = setInterval(frame, 10);

            function frame() {
                if (width >= 30) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("teachp").innerHTML = width * 1 + '%';
                }
            }
        }
    });
</script>

{% endblock scripts %}