{% extends 'layout/master.twig' %}

{% block title %} {{ parent() }}Blog {% endblock title %}

{% block header %} Ubuntu - Why it Rocks! {% endblock header %}


{% block content %}

    <div class="w3-container w3-card w3-margin w3-padding ">

        <div class="w3-section w3-padding w3-dark-gray w3-round-small">
            <h1 class="w3-text-shadow"><b>Ubuntu - Why it Rocks!</b>
                <small class="w3-hide-small w3-opacity-min w3-right">April 7, 2014</small>
            </h1>
        </div>

        <div class="w3-example">
            <h3>Create an array in PHP</h3>
            <div class="w3-code notranslate">
                fruits[0] = "Banana";<br>
                fruits[1] = "Apple";<br>
                fruits[2] = "Mango";<br>
                fruits[3] = "Plum";<br>
            </div>
            <p>PS: Cool right?</p>
        </div>

        <p>
            In this example, the sidenav is hidden (<code class="w3-codespan">style="display:none"</code>) and is only shown when you click on the menu icon in the top left corner. When it is opened, it shifts the page content to the right (we use JavaScript to add a 25% left margin to the div element with id="main" when this happens.
        </p>

        <div class="w3-panel w3-note">
            <p>
                There is no difference in the way W3.CSS treats &lt;div&gt; and &lt;header&gt; elements.
            </p>
        </div>

        <p>
            In this example, the sidenav is hidden (style="display:none") and is only shown when you click on the menu icon in the top left corner. When it is opened, it shifts the page content to the right (we use JavaScript to add a 25% left margin to the div element with id="main" when this happens.
        </p>

        <div class="w3-row">
            <div class="w3-col s12 m8">
                <div class="w3-panel w3-sand w3-leftbar">
                    <span class="w3-text-dark-gray" style="font-size:150px;line-height:0.6em;opacity:0.5">&#10077;</span>
                    <p class="w3-xlarge" style="margin-top:-40px">
                        <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit ..."</i></p>
                    <p>Albert Einstein</p>
                </div>
            </div>
        </div>

        <p>
            In this example, the sidenav is hidden (style="display:none") and is only shown when you click on the menu icon in the top left corner. When it is opened, it shifts the page content to the right (we use JavaScript to add a 25% left margin to the div element with id="main" when this happens.
        </p>
    </div>


{% endblock content %}


{% block scripts %}
{% endblock scripts %}