{% extends 'layout/master.twig' %}

{% block title %} {{ parent() }}Blog {% endblock title %}

{% block header %}Articles / Tutorials{% endblock header %}


{% block content %}

    <div class="w3-container w3-margin w3-padding w3-card-2">

        <h3> Ubuntu - Why it Rocks
            <small class="w3-hide-small w3-opacity w3-right">April 7, 2014</small>
        </h3>
        <small class="w3-hide-medium w3-hide-large w3-opacity">April 7, 2014</small>

        <p>
            In this example, the sidenav is hidden (style="display:none") and is only shown when you click on the menu icon in the top left corner. When it is opened, it shifts the page content to the right (we use JavaScript to add a 25% left margin to the div element with id="main" when this happens.
        </p>

        <button class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>READ MORE »</b></button>

    </div>
    <div class="w3-container w3-margin w3-padding w3-card-2">

        <h3> Ubuntu - Why it Rocks
            <small class="w3-hide-small w3-opacity w3-right">April 7, 2014</small>
        </h3>
        <small class="w3-hide-medium w3-hide-large w3-opacity">April 7, 2014</small>

        <p>
            In this example, the sidenav is hidden (style="display:none") and is only shown when you click on the menu icon in the top left corner. When it is opened, it shifts the page content to the right (we use JavaScript to add a 25% left margin to the div element with id="main" when this happens.
        </p>

        <button class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>READ MORE »</b></button>

    </div>
    <div class="w3-container w3-margin w3-padding w3-card-2">

        <h3> Ubuntu - Why it Rocks
            <small class="w3-hide-small w3-opacity w3-right">April 7, 2014</small>
        </h3>
        <small class="w3-hide-medium w3-hide-large w3-opacity">April 7, 2014</small>

        <p>
            In this example, the sidenav is hidden (style="display:none") and is only shown when you click on the menu icon in the top left corner. When it is opened, it shifts the page content to the right (we use JavaScript to add a 25% left margin to the div element with id="main" when this happens.
        </p>

        <button class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>READ MORE »</b></button>

    </div>
    <div class="w3-container w3-margin w3-padding w3-card-2">

        <h3> Ubuntu - Why it Rocks
            <small class="w3-hide-small w3-opacity w3-right">April 7, 2014</small>
        </h3>
        <small class="w3-hide-medium w3-hide-large w3-opacity">April 7, 2014</small>

        <p>
            In this example, the sidenav is hidden (style="display:none") and is only shown when you click on the menu icon in the top left corner. When it is opened, it shifts the page content to the right (we use JavaScript to add a 25% left margin to the div element with id="main" when this happens.
        </p>

        <button class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>READ MORE »</b></button>

    </div>

{% endblock content %}


{% block scripts %}

{# Open sidenav when page loads #}
<script>
    $( document ).ready(function() {
        w3_open();
    });
</script>

{% endblock scripts %}