{% extends 'layout/master.twig' %}

{% block title %} {{ parent() }}Blog {% endblock title %}

{% block header %}Articles / Tutorials{% endblock header %}


{% block content %}

    <div class="w3-container w3-margin w3-padding w3-card-2">

        <h3> Set-Up ClearDB MySQL Add-On in Heroku.
            <small class="w3-hide-small w3-opacity w3-right">Dec 10, 2016</small>
        </h3>
        <small class="w3-hide-medium w3-hide-large w3-opacity">Dec 10, 2016</small>

        <p>
            Many Heroku beginners strive to understand how to create a MySQL DB for their application.
            This tutorial explains how to migrate your local/development MySQL DB to use the ClearDB add-on in Heroku in 4 simple steps.
        </p>

        <a href="/blog/cleardb">
            <button class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>READ MORE »</b></button>
        </a>

    </div>

    <div class="w3-container w3-margin w3-padding w3-card-2">

        <h3> PHP - HTML DOM Crawler
            <small class="w3-hide-small w3-opacity w3-right">Nov 22, 2016</small>
        </h3>
        <small class="w3-hide-medium w3-hide-large w3-opacity">Nov 22, 2016</small>

        <p>
            Parse the HTML DOM of a page (or a whole site) and selectively pull out the information that is important to you.
        </p>

        <a href="/blog/dom-crawler">
            <button class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>READ MORE »</b></button>
        </a>

    </div>

{% endblock content %}


{% block scripts %}
{% endblock scripts %}