{% extends 'layout/master.twig' %}

{% block title %} {{ parent() }}Blog {% endblock title %}

{% block header %} Let's Connect. {% endblock header %}


{% block content %}

<div class="w3-teal w3-container">
    <hr>
    <div class="w3-padding-xxlarge">
        <h1>Hello Stranger.</h1>
        <p class="w3-opacity ">SAY HELLO BACK. DON'T BE A STRANGER.</p>

        <form class="w3-container w3-card-2 w3-padding-32 w3-white" action="form.asp" target="_blank">
            <div class="w3-group">
                <label for="name">Name</label>
                <input class="w3-input w3-border-teal" style="width:100%;" type="text" required="" name="name" id="name">
            </div>
            <div class="w3-group " style="margin-top: 48px;">
                <label for="email">Email</label>
                <input class="w3-input w3-border-teal" style="width:100%;" type="text" required="" name="email" id="email">
            </div>
            <div class="w3-group" style="margin-top: 48px;">
                <label for="message">Message</label>
                <textarea class="w3-input w3-border-teal" maxlength="500" style="width:100%;" required="" name="message" id="message"></textarea>
            </div>
            <div class="w3-center">
                <button type="submit" class="w3-btn w3-white w3-text-teal w3-card w3-padding w3-border-teal w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-round-small w3-hover-teal" id="send">
                    <b>Send</b> &nbsp;<i id="fa" class="fa fa-send fa-fw"></i>
                </button>
            </div>
        </form>

    </div>
</div>

{% endblock content %}


{% block scripts %}
    <script>
    $( document ).ready(function() {
        $( "#send" ).hover(
            function() {
                $("#fa").addClass( "w3-text-white" );
                $(this).addClass( "w3-text-white" );
            },
            function () {
                $("#fa").removeClass( "w3-text-white" );
                $(this).removeClass( "w3-text-white" );
                $("#fa").addClass( "w3-text-teal" );
                $(this).addClass( "w3-text-teal" );
            }
        );
    });
    </script>
{% endblock scripts %}