{% extends 'layout/master.twig' %}

{% block title %} {{ parent() }}Home {% endblock title %}

{% block header %}Welcome Home{% endblock header %}


{% block content %}

    <div class="w3-container w3-margin w3-padding-32 w3-card-2" style="padding-left: 32px">
        <h2> This is my blog. I am Antony by the way. </h2>
        <h2> Nice of you to drop by.</h2>
        <hr>
        <p>
            I will be writing about Programming, Online Education, all things Internet, and whatever bumps into my head really.</p>
        <p>
            Enough said. Go <a href="/blog">explore</a>, learn more about <a href="/about">me</a>, or <a href="/contact">say hi</a>.
        </p>
    </div>




{% endblock content %}


{% block scripts %}
{% endblock scripts %}