{% extends 'layout/master.twig' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock head %}

{% block title %} {{ parent() }}Home {% endblock title %}

{% block header %}Test{% endblock header %}


{% block content %}
    <div class="w3-container w3-margin w3-padding-32 w3-card-2" style="padding-left: 32px">

        <form action="/post-test" method="post">
            <textarea class=".tinymce" name="body" id="body" rows="10" style="width: 98%">{{ article.body() }}</textarea>
            <br>
            <button type="submit" class="w3-btn-block"> Submit</button>
        </form>

        {{ body | raw }}


    </div>
{% endblock content %}


{% block scripts %}
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock scripts %}