<nav class="w3-sidenav w3-animate-left w3-card-8 w3-sand" style="display: none;z-index:5" id="mySidenav">

    <div class="w3-container w3-sand">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-closenav w3-padding-8 w3-hover-text-red" id="closeBtn">
            <i class="fa fa-2x fa-window-close-o" aria-hidden="true"></i>
        </a>
        <h4 class="w3-hide-small">Menu</h4>
    </div>

    <img src="/img/me_3D.jpg" style="width:100%;">

    <a class="w3-padding w3-hover-black w3-border-bottom" href="/">
        <i class="fa fa-home fa-fw w3-medium"></i> Home
    </a>
    <a class="w3-padding w3-hover-green w3-border-bottom" href="/blog">
        <i class="fa fa-book fa-fw w3-medium"></i> Blog
        {#<span class="w3-hide-small w3-tag w3-red w3-round w3-right">8</span>#}
    </a>
    <a class="w3-padding w3-hover-red w3-border-bottom" href="/about">
        <i class="fa fa-user-secret fa-fw w3-medium"></i> About
    </a>
    <a class="w3-padding w3-hover-blue w3-border-bottom" href="/contact">
        <i class="fa fa-send fa-fw w3-medium"></i> Contact
    </a>

    <div class="w3-container w3-section w3-hide-small">
        <div class="w3-border w3-round w3-padding w3-blue-grey">
            <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
            <p>Welcome explorer. Enjoy.</p>
        </div>
    </div>

</nav>