<div id="step-1">
    {# todo: add columns video_url to campaigns table. #}
    <h2 class="text-center">Which template do you prefer?</h2>
    <div class="col-md-6">
        <label>
            <img class="template" src="/img/default_template.png">
            <input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required/>
        </label>
    </div>
    <div class="col-md-6">
        <label>
            <img class="template" src="/img/default_template.png">
            <input type="radio" class="flat" name="gender" id="genderF" value="F"/>
        </label>
    </div>
</div>
