p {
    font-size: large;
}

.w3-note {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

#closeBtn:hover {
    background: none;
}

.marginForSidenav {
    margin-left: 25%;
}
.widthForSidenav {
    width: 25%;
}
@media screen and (max-width:  601px){
    .marginForSidenav {
        margin-left: 35%;
    }
    .widthForSidenav {
        width: 35%;
    }
}
