<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-spin fa-circle-o-notch"></i> <span>Socialike</span></a>
        </div>

        <div class="clearfix"></div>

        <div class="profile">
            <div class="profile_pic">
                <img src="/img/img_avatar3.png" alt="image of user" class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
            </div>
        </div>

        <br/>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="margin-top: 40%">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-building"></i>
                            Campaigns <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/campaigns/create">Create</a></li>
                            <li><a href="/campaigns">List</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-check-square-o"></i>
                            Responses <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/responses">List</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-mobile"></i> Apps <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/apps/create">Create</a></li>
                            <li><a href="/apps">List</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i>
                            Ngos <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/ngos/create">Create</a></li>
                            <li><a href="/ngos">List</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

